[2016-01-10 23:25] roblanf opened #1 "add to documentation"
how to look up function documentation:

[code]

[2016-01-10 23:39] roblanf opened #2 "add example output to the readme"
to help users

[2016-01-10 23:46] roblanf opened #3 "add outlier labelling code"
to the readme so that it's easy to identify outliers

[2016-01-10 23:47] roblanf commented on #3
alternatively, provide code to subset the summary table.

[2016-01-10 23:51] roblanf opened #4 "provide code to put a horizontal line on the secondary peaks plot"
at a value of 2

[2016-01-11 00:15] roblanf opened #5 "fix numbering in readme"
advanced section

[2016-01-11 00:20] roblanf opened #6 "fix documentation"
enumerate is in code

[2016-01-12 01:55] roblanf opened #7 "mclapply doesn't work on windows"
from a user:

I have been trying to run through the sangeranalyseR steps with the test data as well as some of my sequences. I have made it to "Analysing lots of reads at once" and then for both test data and my data I get this error:

Error in mclapply(abi.fnames, read.abif, mc.cores = processors) :
  'mc.cores' > 1 is not supported on Windows

I get the same error when I skip to "Merging reads i

[2016-01-12 01:58] roblanf commented on #7
Temporary solution:

Set 'processors = 1' when running any functions where processors is an option. E.g.

[code]

Explanation:

mc.cores tells the mclapply function how many processors it can use. My code automatically tries to use all possible processors. On Mac and Linux this works fine. But on Windows multiprocessing is not supported in R. However, if you set processors = 1, then everything wil

[2016-01-12 02:02] roblanf commented on #7
Potential long-term fix: for now, if I can test for windows in the util function get.processors, then I can easily just use a single processor when on windows.

e.g. this might do it:

[code]

[2016-01-12 02:09] roblanf commented on #7
Fix now included here:

https://github.com/roblanf/sangeranalyseR/commit/bd9bd3841f7fc6be5edbf0de5d52ad75282baa2e

I'll wait to close the issue until I hear that this actually works...

[2016-01-12 04:43] roblanf commented on #7
done

[2016-01-12 04:43] #7 closed

[2016-01-12 06:04] roblanf commented on #6
done

[2016-01-12 06:04] #6 closed

[2016-01-12 06:05] roblanf commented on #5
done

[2016-01-12 06:05] #5 closed

[2016-01-12 06:06] roblanf commented on #3
done (sent to user, not in readme), it's just a case of using `subset()` on the summary tables

[2016-01-12 06:06] #3 closed

[2016-01-12 06:06] roblanf commented on #2
done

[2016-01-12 06:06] #2 closed

[2016-01-12 06:06] roblanf commented on #1
done

[2016-01-12 06:06] #1 closed

[2016-01-12 06:09] roblanf commented on #4
done

[2016-01-12 06:09] #4 closed

[2016-01-12 06:15] roblanf opened #8 "extend forward and reverse labelling with grep"
Right now I allow just a single forward and reverse suffix when building readsets. This is not ideal, because there will be many situations in which users have >1 fwd and >1 reverse read. For this we need grep.

E.g. fwd reads might be

asdlkjaflk_F1.ab1
asdlkjaflk_F2.ab1
asdlkjaflk_F3.ab1
asdlkjaflk_F4.ab1

And we need to recognise all of these. Of course, I could ask users for a list of suffixes

[2016-01-12 09:10] roblanf commented on #8
Done here:

https://github.com/roblanf/sangeranalyseR/commit/077dcb64836d4bf659bece128389b0d225927699

[2016-01-12 09:10] #8 closed

[2016-01-13 04:04] EunokLee opened #9 "Error: unable to find an inherited method for function"
Hi Rob,

I was trying to do reverse complement part but I have an error:

Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘reverseComplement’ for signature ‘"sangerseq"’

How should I solve this error?

Thank you!

-Eunok

[2016-01-13 04:10] roblanf commented on #9
Hi Eunok,

This is not really an issue with sangeranalyseR.

What you need to do here (and in general whenever you get an error trying to run a function) is to look at the documentation for that function, like so:

[code]

In this case, you will see that the function takes an object 'x', which it says must be 'A DNAString, RNAString, DNAStringSet, RNAStringSet, XStringViews (with DNAString or RNAS

[2016-01-13 04:10] #9 closed

[2016-01-13 04:45] EunokLee commented on #9
Thank you!

It worked :)

[2016-05-06 05:18] roblanf opened #10 "add a function to trim to reference"
The idea here is that we want to trim aligned readsets according to some DNA reference sequence, before calling the consensus.

It's not totally obvious whether it's better to trim reads individually at the start, or wait and do it later. I suspect it doesn't make much difference, in which case we are better doing it wherever makes the most sense for users.

[2016-05-06 05:21] roblanf opened #11 "add a function to count coincident secondary peaks"
currently I output a table for each read which locates their secondary peaks w.r.t. the position in the read.

What I need is an additional function that locates the secondary peaks w.r.t. the alignment. I then need a function that counts, per column in the alignment, how many secondary peaks appear in that column.

The point is that the best information that you have sequenced >1 molecule is if y

[2016-05-06 06:08] roblanf opened #12 "exclude reads based on quality scores"
trimming removes bad bases from the ends, but what about bad bases in the middle?

One option here is to remove reads based on other things, like the mean quality score of the trimmed sequence.

It's not clear this is necessary, but it's an idea.

[2016-05-06 06:25] roblanf opened #13 "make some worked examples"
potentially based on ab1 files from the folks at Westmead

A few worked examples would be useful.

[2016-12-02 04:51] KMBarton opened #14 "Base calls drop off near end of sequence even though the chromatogram is of sufficient quality"
When I run make.consensus.seqs it sometimes stops calling bases toward the 3' end of the sequence even though our comparator program is able to call this sequence and the chromatogram looks to be of sufficient quality by eye. Image 1 is the fasta file of the 3' end of make.consensus.seqs contig on top and the contig from the comparator script on bottom for sample 020202_30. Image 2 is the correspo

[2016-12-02 05:00] KMBarton opened #15 "No call in contig when a double peak exists in one ab1 file"
In make.consensus.seqs I sometimes see many single base pair gaps randomly throughout a sequence. This seems to occur when there are double peaks in one of the ab1 files, even when the corresponding base in the other file is of sufficient quality to call. Image 1 is the fasta file with the make.consensus.seqs contig above and the comparator program contig below. Four intermittent bases are missing

[2016-12-02 05:16] KMBarton opened #16 "Beginning AAAAA sequence not correctly called"
Our sequencing region of interest begins with a run of A's. In some contigs, make.consensus.seqs does not call this series of A's correctly when the comparator program does and they seem to be visible in the chromatogram. Image 1 fasta file with the make.consensus.seqs contig on top and the contig from the comparator program below. In this case the initial two A's were called as GGs. Image 2 The c

[2016-12-05 23:09] roblanf opened #17 "trimming bug"
From a user via email:

I've run into an issue with the trimming sequences function, though, and I was wondering if you had any advice or could point me in the right direction? The program has been trimming away my entire sequence, leaving 0 base pairs. I've tried adjusting the cutoff variable to no avail. I know that the sequences aren't that bad because I've been able to process them using the p

[2016-12-05 23:11] roblanf commented on #17
The user provided analysis files (2 ab1 files which I won't upload here because they're not mine) but and also commands as follows:

[code]

[2017-01-20 02:51] roblanf opened #18 "idclusters bug"
From a user:

Dear Rob,

I read with interest your method sangeranalyseR which I think might be useful for me research.

I tried the package using the accompanying test data (https://github.com/roblanf/sangeranalyseR). I experience a problem with the merge.reads (see r console output below) indicating an error in the IdClusters.

Do you have any idea how I can solve this error?

Thank you in advan

[2017-01-20 02:52] roblanf commented on #18
Best guess (no time to check right now) is that DECIPHER has changed the way IdClusters works. At least, that's the first place to check.

Also add TravisCI to the todo list to try and avoid too much more of this.

[2017-02-06 07:10] PrernaDas commented on #18
Hi Rob

I also get the same issue, when I run the example you have on here.

[1] "Aligning reads"
[1] "Calling consensus sequence"
[1] "Calculating differences between reads and consensus"
Error in IdClusters(dist, asDendrogram = TRUE, processors = processors,  :
  unused argument (asDendrogram = TRUE)

-Prerna

[2017-03-05 01:05] roblanf opened #19 "reading abif bug"
From a user:

I recently installed sangeranalyseR from github, but I'm having trouble reading in my ab1 file. When I use read.abif(seq.filepath), I get the following error message: Warning message:
In read.abif(seq.filepath) : unimplemented legacy type found in file.
Do you have any idea what may be causing this/how to fix it? Your package looks like it would be very helpful for repeatable analysi

[2017-03-30 05:41] roblanf commented on #19
This is an issue beyond the scope of sangeranalyseR. Suggestion is to contact the authors of sangerseqR to see if they are willing to write a new parser.

[2017-03-30 05:41] #19 closed

[2017-03-30 05:51] roblanf commented on #17
This turns out not to be a bug at all.  In an abif file the quality data from the basecaller that was used should be stored in the PCON.2 channel (more details here:   http://www.appliedbiosystem.com/support/software_community/ABIF_File_Format.pdf)

In this case all of the quality values are zero. There's no kind of sensible trimming that can be done here.

To see the data for yourself, you can us

[2017-03-30 05:51] #17 closed

[2017-03-30 06:04] roblanf commented on #18
Fixed here: https://github.com/roblanf/sangeranalyseR/commit/77388d58e86716bd06b4db4a75969b3503086d93

I can only apologise for the long delay. Thanks for your patience.

[2017-03-30 06:04] #18 closed

[2017-03-30 06:11] roblanf commented on #16
Hi Kirston,

Can you, if possible, post the exact commands you are using to get this sequence.

It helps if I can start by reproducing precisely what you did.

If you can just cut-and-paste from whatever script you were using, I can start from there and figure it out.

Cheers,

Rob

[2017-04-03 01:58] roblanf commented on #15
Hi Kirston,

As with the other issue - can you let me know exactly what you're doing to get these sequences, alignments, and chromatograms.

I have the data you sent me, but when I run ```make.consensus.seqs()``` on your folder of data (with default settings), I get the sequence above without the gaps you are seeing. So I'm not very sure what you're doing.

Specifically, I am doing this:

[code]

[2017-04-03 02:04] roblanf commented on #16
Update - running these commands on your data:

[code]

I get the following sequence for 30HT:

[code]

I.e. it calls 5 A's, as you were expecting.

Also note that in the example you posted, it is not calling A's as G's - it appears that it just called fewer A's, and you have mis-aligned the sequences in your example. Specifically, the ATGTGG sequence in 30HT should align with that from the 3HT bel

[2017-04-03 02:11] roblanf commented on #14
Hi Kirston,

As with your other issues - I cannot recreate this. When I run

[code]

I get a sequence for 30HT that matches extremely closely what you see for the 30HT.Contig1 in your example. I do not see any missing bases near there - I see about another 150 bases of well-called sequence that seems to align pretty nicely with all the other sequences in the data you sent me.

Two things:

1. Can

[2017-05-12 05:53] roblanf opened #21 "build a new sequence object"
it should contain:

1. Primary base calls
2. Secondary base calls
3. Quality scores
4. Trimming information

Other stuff?

[2017-05-15 12:24] anniwinckelmann opened #22 "make.consensus.seqs - Error when adding arguments"
With the attached set of 30 ab1 files, using this code, creates 15 consensus sequences.
`input.folder = "firstseq"`
`forward.suffix = "-F.ab1"`
`reverse.suffix = "-R.ab1"`
`cs = make.consensus.seqs(input.folder, forward.suffix, reverse.suffix)`

However, some of the files are low quality and I wish to add more arguments to filter these out.
`ref.seq = ("KNNMVEQMHEDIISLWDQSLKPCVKLTPLCVTLNCTDLMNATNT

[2017-06-15 06:34] PrernaDas commented on #18
Hi Rob,

I tried using the function, but again get the same error with the test data. Can you please look into this again,

[1] "Aligning reads"
[1] "Calling consensus sequence"
[1] "Calculating differences between reads and consensus"
Error in IdClusters(dist, asDendrogram = TRUE, processors = processors,  :
  unused argument (asDendrogram = TRUE)

Much thanks,
Prerna

[2017-06-15 06:39] PrernaDas commented on #18
Hi Rob,
I get a new error now:(. Can you please look into this..
Much thanks,
Prerna

[1] "Aligning reads"
[1] "Calling consensus sequence"
[1] "Calculating differences between reads and consensus"
Error in diffs[, 2] : subscript out of bounds
In addition: Warning message:
In mclapply(aln, n.pairwise.diffs, subject = consensus, mc.cores = processors) :
  all scheduled cores encountered errors in u

[2017-06-15 06:40] PrernaDas commented on #18
Hi Rob,
I get a new error now:(. Can you please look into this..
Much thanks,
Prerna

############################################################################
fwd = readsangerseq("BBDCN941-10[C_LepFolF,C_LepFolR]_F.ab1")
rev = readsangerseq("BBDCN941-10[C_LepFolF,C_LepFolR]_R.ab1")
fwd = primarySeq(fwd)
rev = primarySeq(rev)
reads = DNAStringSet(c(as.character(fwd), as.character(rev)))
names(r

[2017-06-19 15:18] bvecchip opened #23 "Error during make.consensus.seqs"
After applying the following command to an input folder containing 4 abi files (file1_R.ab1, file1_F.ab1, file2_R.ab1, and file2_F.ab1), I get an atomic vector error which seems to arise some time after line 94 in merge.reads.R -- ideas?

command: cs = make.consensus.seqs(input.folder, forward.suffix, reverse.suffix)

Error in x$consensus : $ operator is invalid for atomic vectors
In addition: War

[2017-07-02 06:30] roblanf opened #24 "R update issue"
Dear Rob, I have been using the above-mentioned package for a while now and it’s been really helpful with sequence assembly.

However, after updating from R.v3.3.2 to 3.4.0, the function “summarise.abi.folder” runs for roughly 1 minute compared to approximately 15 sec while using R.v3.3.2.

I sometimes have up to 20 folders with data and it takes quite a while to run.

I reverted to R.v3.3.2 and i

[2018-04-14 18:30] junhuili opened #25 "Error in 'merge.reads'"
When apply the command of 'merge.reads' using my data, I got the following error, but I got the same error when I use the test data. Any idea? Thanks. Junhui

Error in paste(del.gaps(consensus), collapse = "") :
  non-string argument to internal 'paste

[2018-04-16 16:24] warfree2 commented on #25
I am facing the same problem, either the "merge.reads" or the "make.consensus.seqs", which adapt the function of "merge.reads".

I have tried using the Drosophila_melanogaster examples though was still not working. Facing the same issue
Error in paste(del.gaps(consensus), collapse = "") :
non-string argument to internal 'paste'

[2018-04-16 23:33] roblanf commented on #25
Hi both,

Thanks for identifying this issue. I should have time to look at this within the next week, and will keep you updated here.

[2018-04-17 11:07] warfree2 commented on #25
Hi roblanf,

I found if you tweak the function (paste(del.gaps(consensus) to (paste(as.matrix(del.gaps(consensus)) in both merge.reads() and summarise.merged.read(), the make.consensus.seqs() should be working; at least in my case.

Besides, is get.processor() a legit function? R  finds no this function.

Thank you for developing this package. I find it's useful and really enjoy in that.

[2018-04-17 16:00] junhuili commented on #25
It's working for me as well. Thanks.

[2018-05-24 02:49] weedcentipede commented on #25
Hi,
Apparently, the bug stills, if I downloaded the package by devtools  where can I modify the script?,
Thanks.

[2018-11-14 23:27] dunedice opened #26 "error make.consensus.seqs"
So,

produces error:

[1] "Calculating differences between reads and consensus"
Error in paste(del.gaps(consensus), collapse = "") :
  non-string argument to internal 'paste'

works fine.

what is up?

[2018-11-15 20:31] dunedice commented on #26
nevermind, found the patch...

[2018-11-15 21:30] roblanf commented on #26
glad you found it, and apologies for the lack of support on this pacakge.
It is currently languishing, but I plan to rewrite it and publish it (and
then provide ongoing support) in 2019.

On Fri, 16 Nov 2018 at 07:31, dunedice <notifications@github.com> wrote:

--
Rob Lanfear
Division of Ecology and Evolution,
Research School of Biology,
The Australian National University,
Canberra

www.robertlanf

[2018-11-19 06:42] ngeraldi opened #27 "error fo make.consensus.seqs()"
Hi,
I am using your package for ab1 sequences here and I  just updated R and all packages yesterday on my mac:

https://www.dropbox.com/sh/du0n0ob5wv776yh/AAC3LKPP5fkwtbJQo9R6b65ga?dl=0

With the code:
input.folder<-"dropbox_folder"
forward.suffix = "_F.ab1"
reverse.suffix = "_R.ab1"
rs = make.readsets(input.folder, forward.suffix, reverse.suffix)
# make.readsets works, but
mc<-make.consensus.seqs

[2018-11-20 04:39] roblanf commented on #27
Hi there,

Apologies for this - some packages have changed in the background. for now, please use the patch here:

https://github.com/roblanf/sangeranalyseR/issues/25#issuecomment-381950895

Next year I will rewrite and publish this package, and from then on it will be properly maintained!

Rob

[2018-11-20 05:55] ngeraldi commented on #27
Hi, thanks for the quick response.
Although it is beyond your responsibility, I have never edited a package's
function. Used the following code but got errors for both trace and body.
Any suggestions on easy code to change a function?
Thank you
Nathan

as.list (body(merge.reads))   # get line need to change line 22
trace (merge.reads, quote(consensus.gapfree =
DNAString(paste(as.matrix(del.gaps(co

[2018-11-20 07:00] ngeraldi commented on #27
Hi, I figured out how to change the function using:
trace("merge.reads",edit=TRUE)
I then checked to make sure the changes were correct with:
as.list (body(merge.reads))
I then run the code I mentioned initially, but I still get the same error:

[1] "Looking for .ab1 files..."
[1] "Grouping 166 files into sets by filename..."
[1] "166 of the files matched either the forward or reverse suffixes"
[1

[2018-12-04 13:24] marcinschmidt commented on #25
How can I implement that patch? I have found folders with R files even 'sangeranalyseR' but got stuck there?!

[2018-12-05 03:46] roblanf commented on #27
Hi All,

Thanks for the ~infinite patience here. The bug should now be fixed (let's see, it works for me) here https://github.com/roblanf/sangeranalyseR/pull/28.

So, if you re-install and re-load the package from here,

https://github.com/roblanf/sangeranalyseR

it should work. Please let me know either way! I'll close this now (perhaps tempting fate), but reopen if it's still broken for some.

R

[2018-12-05 03:46] #27 closed

[2018-12-05 03:46] roblanf commented on #26
Hi All,

Thanks for the ~infinite patience here. The bug should now be fixed (let's see, it works for me) here https://github.com/roblanf/sangeranalyseR/pull/28.

So, if you re-install and re-load the package from here,

https://github.com/roblanf/sangeranalyseR

it should work. Please let me know either way! I'll close this now (perhaps tempting fate), but reopen if it's still broken for some.

R

[2018-12-05 03:46] #26 closed

[2018-12-05 03:47] roblanf commented on #25
Hi All,

Thanks for the ~infinite patience here. The bug should now be fixed (let's see, it works for me) here https://github.com/roblanf/sangeranalyseR/pull/28.

So, if you re-install and re-load the package from here,

https://github.com/roblanf/sangeranalyseR

it should work. Please let me know either way! I'll close this now (perhaps tempting fate), but reopen if it's still broken for some.

R

[2018-12-05 03:47] #25 closed

[2018-12-05 03:47] roblanf commented on #23
Hi All,

Thanks for the ~infinite patience here. The bug should now be fixed (let's see, it works for me) here https://github.com/roblanf/sangeranalyseR/pull/28.

So, if you re-install and re-load the package from here,

https://github.com/roblanf/sangeranalyseR

it should work. Please let me know either way! I'll close this now (perhaps tempting fate), but reopen if it's still broken for some.

R

[2018-12-05 03:47] #23 closed

[2018-12-05 03:47] #16 closed

[2018-12-05 03:48] #15 closed

[2018-12-05 03:48] #24 closed

[2018-12-05 03:50] roblanf commented on #22
Far too late to be useful I'm sure, but these warning messages are safe to ignore. They come from the step where the tree is built, and this is just a facet of building trees in this way.

[2018-12-05 03:50] #22 closed

[2018-12-05 03:50] #14 closed

[2018-12-05 07:58] marcinschmidt commented on #25
It doesn't work for me, I have following output:

Downloading GitHub repo roblanf/sangeranalyseR@master
tar: Failed to set default locale
tar: Failed to set default locale
Skipping 3 packages not available: Biostrings, DECIPHER, sangerseqR
   During startup - Warning messages:
   1: Setting LC_CTYPE failed, using "C"
   2: Setting LC_TIME failed, using "C"
   3: Setting LC_MESSAGES failed, using "

[2018-12-05 10:12] roblanf commented on #25
double check that you have all of the dependencies installed first.

On Wed, 5 Dec 2018 at 18:58, marcinschmidt <notifications@github.com> wrote:

--
Rob Lanfear
Division of Ecology and Evolution,
Research School of Biology,
The Australian National University,
Canberra

www.robertlanfear.com

[2018-12-05 10:28] marcinschmidt commented on #25
I had to execute
system('defaults write org.R-project.R force.LANG en_US.UTF-8')
than restart R
and now it works!

[2018-12-05 19:29] roblanf commented on #25
whoa. Any chance you could explain what that does and how you figured out
you should use it?

Thanks for persevering!

On Wed, 5 Dec 2018 at 21:28, marcinschmidt <notifications@github.com> wrote:

--
Rob Lanfear
Division of Ecology and Evolution,
Research School of Biology,
The Australian National University,
Canberra

www.robertlanfear.com

[2018-12-06 09:16] marcinschmidt commented on #25
I found it in somewhere the net.
Just asked Uncle Google to find 'error tar: Failed to set default locale in R'. Someone already had error in different instance, and solution worked here as well.

[2020-02-10 00:50] roblanf opened #31 "Operating systems"
Just a note that we need to test on

Mac,
Linux,
Windows

Before we release. At least one user of the old version reported not being able to get it working on Windows, something to do with needing Rtools, but installing Rtools not fixing the issues.

[2020-03-09 07:03] czliubio opened #32 "make.readset seem not work as expected"
Hello,
sangeranalyseR is very useful for batch processing the sanger sequencing data.
I test this tool with two pairs of ab1 files [testab.zip](https://github.com/roblanf/sangeranalyseR/files/4305019/testab.zip). sample 002A and sample 008A, which are amplified by 27F and 1100R primer pair.
 "merge.reads" function can generate a more than 900 bp concensus sequence. however "make.readset" function

[2020-03-10 04:50] roblanf commented on #32
Hi Kevin,

Thanks for the bug report. I'm going to ask @HowardChao to take a look at this. The current situation is that Howard has completely rebuilt the package from the ground up, with a lot of new features too.

@HowardChao, can you have a look at @czliubio's dataset (kindly provided at the link above) in your new version, and see how it goes. Once it's working, let us know and maybe provide s

[2020-03-10 09:16] thokall commented on #32
If you are looking for beta-tester for the new version. I would be more than happy to contribute.

[2020-03-11 06:43] Kuanhao-Chao commented on #32
Hi Kevin,

Thanks for using sangeranalyseR. I have rebuilt this package so you need to download the newest version from **develop** branch:

## Installation
[code]
----

## Change filenames
In the new version of sangeranalyseR, there are three different classes which are **sangerRead**, **sangerContig** and **sangerAlignment**.  In sangeranalyseR, each ab1 file corresponds to a **sangerRead** inst

[2020-03-11 06:50] Kuanhao-Chao commented on #32
Hi @thokall,

Thanks for willing to help! We are currently doing some minor changes and will release the beta version recently. Once we are done, we will let you know as soon as possible. Thank you!

Howard

[2020-03-12 02:20] czliubio commented on #32
Hi Howard,
Really appreciate for your great help. It works now. The new version is fantastic.
I work on the bacterial 16S sequencing, and generated large amount of 16S seqences from sanger sequencer. I was looking for better tools for quality control of these sequences, and make comparison with commercial tools (like KBcaller with ABI sequencer) and other open-source tools.  If real data test are

[2020-03-12 02:27] roblanf commented on #32
Hi Kevin,

"It is possible to calculate the quality of consensus sequence (the contig), since the single reads quality is obtained. But I did not found the option."

I guess so, yes. Do you know of any references or standard approaches for calculating consensus quality? We should be able to implement anything that exists.

"It is possible to detect the indels in the sequence without the ref sequen

[2020-03-12 04:17] czliubio commented on #32
Hi Rob,

Following are some papers I read recently:
1. A standalone python script OverlapPER can merge reads into contig by overlap length and the minimum similarity, and then calculate the quality of consensus sequence . Reference paper here https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6083499/. And sangeranalyseR seems to merge reads not by the overlap length?
2. Poly peak parser explain what th

[2020-03-18 04:16] roblanf opened #33 "Add quality to consensus"
From this issue: https://github.com/roblanf/sangeranalyseR/issues/32#issuecomment-597974547

@czliubio says:

"A standalone python script OverlapPER can merge reads into contig by overlap length and the minimum similarity, and then calculate the quality of consensus sequence . Reference paper here https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6083499/. And sangeranalyseR seems to merge reads not by

[2020-03-18 04:17] roblanf opened #34 "detect 16S indels without references"
from: https://github.com/roblanf/sangeranalyseR/issues/32#issuecomment-597974547

@czliobio says:

"Poly peak parser explain what the trace look like when the when a heterozygous indel exist. (https://doi.org/10.1002/dvdy.24183). However, it still needs reference sequence to determine the INDEL. Paper “Decoding of Superimposed Traces Produced by Direct Sequencing of Heterozygous Indels”(10.1371/jo

[2020-03-18 04:21] roblanf commented on #32
@HowardChao, I'm not sure this renaming is necessary. Can't we cover the original filenames with regex?

a general solution might be to do this (any number of integers after the underscore and before the 'F' or 'R':

[code]

and a specific solution that would work for this minimal example (I'm assuming these are primer names) would be:

[code]

Am I missing something?

[2020-03-18 04:45] roblanf commented on #32
I forgot that @czliubio gave us the data. I tried out both regexps above and they work fine.

One thing to note with giving new users help with the package is that I suspect regexp will be by far the most challenging thing. As we start to see what folks struggle with, we should add sections to the help docs. E.g. once we have a few regexp examples from a variety of users, we could add a whole help

[2020-03-18 04:45] #32 closed

[2020-03-18 06:10] Kuanhao-Chao commented on #32
Yes! Both regular expression methods work! There are only two reads in each contig in this example, so the second regular expression method works. But if there are **more reads in one contig**, then users should include the index in ab1 filename.

[code]

1. 002A-16S_1_27F.ab1
2. 002A-16S_2_1100R.ab1
3. 008A-16S_1_27F.ab1
4. 008A-16S_2_1100R.ab1

[2020-03-19 01:39] hhandika commented on #31
I installed it on two OS: OpenSUSE Tumbleweed (Linux Kernel 5.5.7) and Windows 10 Build 1909. Installation was flawless on Tumbleweed. I have been able to load the library. I just need to try it with sanger data.

I got it worked on Windows as well, but I had to fix a few errors before I got it to work. I fixed the installation issues by updating R to version 3.6.3, re-install Rtools, devtools and

[2020-03-24 06:00] czliubio commented on #34
Hi Rob,
I collected some indel cases and attach here [indel-sample.zip](https://github.com/roblanf/sangeranalyseR/files/4373428/indel-sample.zip). Hope it might help for testing.
sangeranalyseR is really helpful. Thank you very much.
Best regards,
Kevin

[2020-04-06 18:59] lixiaopi1985 opened #35 "error when SangerAlignment"
Hi,

I got this error at the end of the output when running

`ITS2_contigs <- SangerAlignment(parentDirectory = "./ITS2/ab1/",
                               suffixForwardRegExp = "^.*_ITSS2F_.*.ab1$",
                               suffixReverseRegExp = "^.*_ITS4R_.*.ab1$")
`

`Error in validObject(.Object) :
  invalid class “SangerAlignment” object: 1: invalid object for slot "contigsConsensus"

[2020-04-06 22:01] roblanf commented on #35
Hi @lixiaopi1985,

If you could send me your input data off list (http://robertlanfear.com/contact) I'd be happy to take a look and get back to you. Whatever the issue is, the error message certainly isn't very helpful! Once we have your data, we can fix the issue and/or the error message.

Rob

[2020-04-13 05:55] joelnitta opened #36 "Ambiguity in description of suffixForwardRegExp, suffixReverseRegExp"
The current text in the help pages makes it sound like the regex used for `suffixForwardRegExp` and `suffixReverseRegExp` needs to match the filename all the way to the end, e.g.:

I have files that are named like this:

[code]

Where `ESRBCL1361R` etc is the primer name (two forward, two reverse) and `F01` is the sequencing well.

I am able to assemble contigs using regex that either matches the

[2020-04-13 06:09] joelnitta opened #37 "can sangeranalyseR handle spurious indels?"
This is difficult to provide a reprex as I don't want to just paste my sequences here. But I am wondering if `sangeranalyseR` is the appropriate tool when there may be spurious indels in the raw reads. I am sequencing a single coding gene (ca. 1300 bp) with four primers (a pair of sequencing primers and a pair of internal primers) with no introns, so the consenus should just be a single coding reg

[2020-04-13 23:22] roblanf commented on #36
Hi @joelnitta,

Thanks so much for pointing this out. We will edit the documentation as you suggest and close the issue when it's done.

[2020-04-13 23:27] roblanf commented on #37
hi @joelnitta,

If you could share an example with us via email (whatever the smallest example that doesn't work how you want it, but seems like it should be something that we could implement). We'll take a look.

I agree that in principle this doesn't seem like it should be too hard. Simple matching a sequence up with indels to a back-translated AA reference sequence should fix the problem, right

[2020-04-14 00:06] roblanf opened #38 "trees should be unrooted"
No reason to root the tree anywhere.

[2020-04-14 00:34] roblanf opened #39 "use a logger"
@HowardChao: currently we have too many print statements, and the output is kinda messy (e.g. some of these look like debugging statements).

Let's move to using a proper logger, so we can distinguish info, error, warning, debug, etc.

[2020-04-14 00:41] roblanf opened #40 "error check the csv file on loading"
Currently, if I have a csv names file where some reads in the file are not in the input folder, it loads and processes a bunch of reads before figuring this out and spitting this error:

[code]

[2020-04-14 00:48] roblanf commented on #40
Specifically, loading the csv file should trigger the following checks:

1. Check every read in the csv file is in the input reads directory. If reads are in the CSV file but NOT in the input reads directory, spit an informative warning and not an error. (The warning should contain the names of the reads that are in the csv file and not the input directory).

2. Check that every read in the input

[2020-04-14 00:58] HowardChao opened #41 "Low quality reads trimming default"
Currently, if none of the bases are above the threshold, the first base pair will be kept by default. We should keep 0 base pairs instead.

1. Update two trimming algorithms
2. Update Shiny app UI
3. Update generate report HTML UI

[2020-04-14 03:11] roblanf commented on #35
Closing this after this commit: https://github.com/roblanf/sangeranalyseR/commit/71e026304fa741374812f27595ee48a4674b4527

@HowardChao implemented an improved feature for inputting a 3 column csv file to describe read groupings. I updated the docs.

[2020-04-14 03:11] #35 closed

[2020-04-14 03:11] roblanf commented on #36
Should now be fixed in the docs in this commit: https://github.com/roblanf/sangeranalyseR/commit/71e026304fa741374812f27595ee48a4674b4527

[2020-04-14 03:11] #36 closed

[2020-04-15 07:21] roblanf opened #42 "minreadlength"
this parameter doesn't seem to work as described:

[code]

If I run `SangerAlignment` with some really low quality data, it retains even very short reads (e.g. length 1) and keeps them in the readset. This means that the contig tree is never built.

Can you take a look and see what's going on @HowardChao? I'll send you some data...

[2020-04-16 23:35] HowardChao opened #43 "readTable function"
Keep S4 show function simple and add a `readTable` function to get a table with maximum detail on every single read.
[code]

[2020-04-19 18:07] Kuanhao-Chao commented on #39
I use the [logger](https://github.com/daroczig/logger) R package for logging.

- <img width="843" alt="Screen Shot 2020-04-21 at 3 51 33 am" src="https://user-images.githubusercontent.com/26069376/79783162-94492f00-8383-11ea-9479-036a4666e9f2.png">

[2020-04-19 18:10] Kuanhao-Chao commented on #42
@roblanf Do we need to store the trimmed reads that are shorter than the `minreadlength`?  Reads that cannot construct into a contig won't be stored inside `contigList` in the current version. If we want to store those reads, I need to add another slot in SangerContig to store those skipped reads.

[2020-04-20 00:00] roblanf commented on #42
@HowardChao, it seems sensible to add a slot for reads that are too short. If we do this, then the excluded reads can be *included* later if a user changes e.g. the trimming threshold.

This also works in the other direction - a user might have a SangerContig or SangerAlignment with all the reads in it, but then want to change the trimming threshold to be more stringent, after which some reads mig

[2020-04-20 00:20] Kuanhao-Chao commented on #42
@roblanf I will include this feature in the next version because the deadline to pass the Bioconductor technique review is this Wednesday (Thursday in Australia) and I need more time to implement it. 👍

[2020-04-20 02:39] Kuanhao-Chao commented on #40
- [x] Check every read in the csv file is in the input reads directory. If reads are in the CSV file but NOT in the input reads directory, spit an informative warning and not an error. (The warning should contain the names of the reads that are in the csv file and not the input directory).

- [x] Check that every read in the input directory is in the csv file. If there are reads in the input direc

[2020-04-20 17:27] HowardChao opened #44 "Bioconductor Fix"
- [x] The description of the package should be like a paper abstract.

- [x] You can have only one maintainer. Please review package guidelines.

- [x] Your package 'Depends' on packages like kableExtra, are these needed for the vignette? Have you thought about which packages should go in the 'Suggests' section?

- [x]  If you are using certain packages for a "single" function, consider not using

[2020-04-20 17:45] Kuanhao-Chao commented on #43
- [x] **SangerRead** Level
    - **ABIF** trimming M1 Output:
        - <img width="848" alt="Screen Shot 2020-04-21 at 3 44 17 am" src="https://user-images.githubusercontent.com/26069376/79782423-67e0e300-8382-11ea-9409-61d2c947f0e1.png">

    - **ABIF** trimming M2 Output:
        - <img width="848" alt="Screen Shot 2020-04-21 at 3 47 06 am" src="https://user-images.githubusercontent.com/2606937

[2020-04-27 08:22] NamLQ opened #45 "Package 'sangeranalyseR' requires R >= 4.0.0"
Hello!
I have tried to install the package as below:
`library(devtools)`
`install_github("roblanf/sangeranalyseR", ref = "develop")`
`library(sangeranalyseR)`
But it always fails and require the R version >= 4.0.0. My current R version is 3.6.3, and there is no update available on Ubuntu.

How can I install the package with the R version 3.6.3?

[code]

[2020-05-04 11:22] Kuanhao-Chao commented on #45
Sorry for my late reply. sangeranalyseR has been submitted to Bioconductor 3.12 development which requires R >= 4.0.0 version (The newest R version released on 2020-04-24). You can try to download the R 4.0.0 from source code ([link](https://www.r-project.org)).

[2020-05-04 11:22] #45 closed

[2020-05-04 11:22] #44 closed

[2020-05-04 11:26] #39 closed

[2020-05-04 11:26] #40 closed

[2020-05-18 11:34] ewysocka opened #46 "reverse sequence chromatograms + some questions"
Hello,

I have worked a bit with the previous version of sangeranalyseR.
The previous version was already very useful and this one looks really impressive now. It's really neat.
I have some questions regarding the parameters that are not present anymore in this version,
I mean the treatment of secondary peaks. If the secondary peak is above the 1/3 of the primary peak, then the base recovered beco

[2020-05-18 14:07] Saradasuperba opened #47 "Error loading ab1 data"
Hi,
I got this error message, could you please help.

Error in validObject(.Object) :
  invalid class “SangerAlignment” object: 1: invalid object for slot "contigsConsensus" in class "SangerAlignment": got class "function", should be or extend class "DNAStringORNULL"
invalid class “SangerAlignment” object: 2: invalid object for slot "contigsTree" in class "SangerAlignment": got class "NULL", shoul

[2020-05-19 19:12] Kuanhao-Chao commented on #47
Hi @Saradasuperba

What’s your computer’s operating system? Could you paste your R session information here (run `sessionInfo()`)?
And could you send me your data through email so that we could test sangeranalsyeR.
Thanks!

[2020-05-20 06:01] DeepakVeerappan commented on #47
Thanks,
Here it is. Please share your email id
R version 4.0.0 (2020-04-24)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS High Sierra 10.13.6

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/4.0/Resources/lib/libRlapack.dylib

[2020-05-20 06:17] Kuanhao-Chao commented on #47
This is my email: `kuanhao.chao@gmail.com`

[2020-05-21 12:57] Kuanhao-Chao commented on #47
Hi @Saradasuperba

1.  If you want to build two contigs and then align two contigs

---

2.  If you want to build one contig with four reads:

If you have any problem, please feel free to contact me! Thanks

Cheers,

Howard

[2020-05-21 13:09] DeepakVeerappan commented on #47
Thanks a lot Howard!
It works now.

Cheers,
Deepak

[2020-05-25 22:11] Kuanhao-Chao commented on #46
Hi @ewysocka! Sorry for my late reply. It takes me some time to fix bugs.

1. sangeranalyseR uses IUPAC nucleotide code; therefore A and T will become W. `signalRatioCutoff` parameter is the cutoff ratio of the height of a secondary peak to a primary peak and its default value is 1/3. You can try to set this parameter smaller and there will be more IUPAC nucleotide code in the secondary sequence.

[2020-05-25 22:11] #46 closed

[2020-05-25 22:32] roblanf opened #48 "consider phred scores when consensus building"
An idea raised in https://github.com/roblanf/sangeranalyseR/issues/46, to build consensus sequences while taking account of the phred scores. It's certainly possible.

Right now we use DECIPHER's the `ConsensusSequence` function from `DECIPHER`, but we could build our own function for this and/or look around for a function that uses phred scores.

[2020-05-25 22:33] roblanf commented on #46
@HowardChao, thanks for looking into it and fixing things up. I'm going to add that I've added a new issue as an enhancement (https://github.com/roblanf/sangeranalyseR/issues/48) where we can consider including phred scores for consensus building in the future.

[2020-05-26 01:42] HowardChao opened #49 "Add documentation "How to ..." section"
After solving questions from users, add the corresponding "How to ..." topics in the documentation.

Currently, there are two subsections need to be added.

- [ ] How to deal with secondary peaks

- [ ] How to deal with secondary peaks

[2020-06-08 23:39] foersterst commented on #48
Dear colleagues,

First of all, thanks a lot for this amazing package! I would like to ask for some help to improve the assmebly of consensus DNA sequences. I'm working with DNA sequences from the COI gene (mtDNA) and I'm usnig the function 'SangerAlignment' to get the consensus sequences. Well, I would like to start by asking what is the difference between the M1 and M2 options for the TrimmingMe

[2020-06-10 20:56] kevin-wamae commented on #47
Dear @Kuanhao-Chao, I'm running into the same problem as above and while I followed your suggestion, I still cannot get the package to work.

**#Platform**
R version 4.0.0 (2020-04-24)
Platform: x86_64-apple-darwin17.0 (64-bit)

**#SessionInfo**
[code]
**#Code**
[code]

**#Input files**
[code]

**#Error**
[code]

[2020-06-10 23:56] roblanf commented on #47
HI @kevin-wamae,

I think the issue here is your regex pattern matching.

Assuming that you want to pair your files as follows:

[code]

Currently your regex won't do this, because your filenames don't match the format required (where the first part of the filename defines the contig, and the last part the F or R designation). So, you have two options here.

First, you could rename your files to m

[2020-06-11 00:02] roblanf opened #50 "Output regex matching table to user as part of logging"
I've noticed a lot of users so far (and I suspect a lot more that aren't posting here) are having trouble figuring out the regex pattern matching. It's not surprising, regex is HARD.

So here's my suggestion, once we've done the regex pattern matching, we should output as part of the logging (and as a file so users can check it and upload it when asking for help), a table that matches the format o

[2020-06-11 00:03] roblanf commented on #47
related, I think it would be useful for everyone if we do this: https://github.com/roblanf/sangeranalyseR/issues/50

[2020-06-11 15:48] kevin-wamae commented on #47
Thanks @roblanf, it works now.

I think going forward I'll stick to this https://github.com/roblanf/sangeranalyseR/issues/50

[2020-06-12 01:15] #47 closed

[2020-06-12 01:47] roblanf commented on #48
Hi @foersterst!

M1 and M2 methods: M1 is the modified Mott's trimming algorithm that you can also find in Phred/Phrap and Biopython. M2 is like trimmomatic's sliding window method. In general I'd recommend trying both and seeing what gives more sensible trimming for your data, using the Shiny app to visualise what the trimming methods are trimming. And yes, both use phred scores.

On the ambiguou

[2020-06-12 01:49] roblanf opened #51 "Improve parameter descriptions in docs"
some specific parameters:
 M1TrimmingCutoff, M2CutoffQualityScore, M2SlidingWindowSize, baseNumPerRow, heightPerRow.

but I think a trawl through to find others would also be useful.

In addition, we need a clear description in the package and the docs of the differences between trimming methods.

[2020-06-15 07:56] Kuanhao-Chao commented on #51
- [x] Improve parameter descriptions
- [x] clear description in the package and the docs of the differences between trimming methods.

[2020-06-20 08:11] #51 closed

[2020-07-01 02:09] wbooker opened #52 "SangerAlignment error"
Hi,

I get this error when trying to create an alignment (I only have forward reads). It seems to sort through the files fine, but when it gets to the last sample, I get this:

Error in validObject(.Object) :
  invalid class “SangerAlignment” object: 1: invalid object for slot "contigsConsensus" in class "SangerAlignment": got class "function", should be or extend class "DNAStringORNULL"
invalid c

[2020-07-01 02:13] roblanf commented on #52
Hi @wbooker,

Thanks for raising this issue. We'll get it fixed! If there's any chance you can send me your files off-list (https://biology.anu.edu.au/people/academics/robert-lanfear) that would really help. Of course, I'll only use them for fixing this bug!

Rob

[2020-07-06 07:04] Kuanhao-Chao commented on #52
Hi ! @wbooker
Thank you for your bug report. I've fixed the bugs!
In contig level, you need to have at least two reads in order to do reads alignment (`AlignSeqs` function in sangeranalyseR).

Your original code:
``` my_aligned_contigs <- SangerAlignment(parentDirectory = "C:/Users/Will Booker/Downloads/fwdattachedsequences/test/", suffixForwardRegExp = "1.ab1", minReadsNum = 1)```

In your case,

[2020-07-07 23:32] roblanf commented on #52
Hi Howard,

It seems to me that the flag 'minReadsNum' implies that one can override the (very sensible) default to have at least 2 reads per contig.

Can we set it up that way?

Rob

[2020-07-08 22:48] gabriellovate opened #53 "Error in vapply(object@contigList, function(contig) { : values must be length 1, but FUN(X[[1]]) result is length 2There were 33 warnings (use warnings() to see them)"
Hi,

When running:
[code]

I'm getting the following error/warnings:
[code]

[2020-07-09 07:50] UndressK opened #54 "Cannot launch shiny App"
I am getting this error when using the launchApp() function to open shiny:

the rest of the functions: writeFasta(), generateReport() seem to work fine. So I wonder if anyone else had this issue or it may be related to my R installation. I recently upgraded to R.4.0. I also tried a different shiny app example and that works..
Thanks a lot!

[2020-07-09 18:43] Kuanhao-Chao commented on #52
_Hi @wbooker

Now you can run the following code on your data correctly.

[code]

In the latest commit, sangeranalyseR allows single read (in forward or reverse direction) in each contig. Please try the code on your data to see if it's the result that you want. Please let me know if you have any questions!

Howard

[2020-07-09 18:49] Kuanhao-Chao opened #55 "SangerAlignment Error enhancement"
Enhance #52 SangerAlignment Error issue.

There are still some bugs I need to fix.

- [ ] Empty value error in Shiny app
- [ ] Update minReadsNum parameter documentation
- [ ] Add unit tests

[2020-07-10 00:00] wbooker commented on #52
It worked! Thanks a bunch.

-Will

On Thu, Jul 9, 2020 at 2:44 PM Kuan-Hao, Chao <notifications@github.com>
wrote:

--
Will Booker (he/him)
PhD Candidate
Florida State University
Dept. of Biological Science, Ecology and Evolution
*Office: *BRF 242
*Phone: *(770) 500-8152

[2020-07-10 00:31] #52 closed

[2020-07-13 02:23] Kuanhao-Chao commented on #54
Hi @UndressK ,

Thanks for raising this issue. We'll work on it! If there's any chance you can send me your files off-list (kuanhao.chao@gmail.com) that would really help. We'll only use them for fixing this bug!

Howard

[2020-07-13 02:28] Kuanhao-Chao commented on #53
Hi @gabriellovate ,

Thanks for raising this issue. We'll work on it!
I guess that the read names and the names in your CSV file are mismatched.
If there's any chance you can send me your files off-list (kuanhao.chao@gmail.com) that would really help. We'll only use them for fixing this bug!

Howard

[2020-07-19 18:41] Kuanhao-Chao commented on #54
Hi @UndressK! Have you solved the problem yet?

I tried your code and data that you sent to me on my R 4.0.0 environment and the `launchApp ` function works fine.
I also searched online and there isn't much information about this error. Maybe you can try updating all shiny-related R packages to the newest version.

Cheers

[2020-07-20 02:56] #54 closed

[2020-07-21 21:46] UndressK commented on #54
No, I couldn't.. but I'll keep trying and see if i can fix it.
thanks anyway!

cheers,
Andrés

On Sun, 19 Jul 2020 at 20:41, Kuan-Hao, Chao <notifications@github.com>
wrote:

[2020-07-24 08:01] Kuanhao-Chao opened #56 "Interactive plot does not show in final report"
The interactive plot_ly and exceTable html output does not render inside the final HTML report.

[2020-08-27 23:41] camilogarciabotero opened #57 "generateReport failing to open pdf"
Hi @Kuanhao-Chao ,

Thanks for working on this project! This is could be the best open-source alternative to analyze sanger sequences I've ever found on the web!

I could spot this problem when generating the report of my SA. That is, when running `generateReport()` function on my SA got the following error:

[code]

It seems that maybe there is no `.PDF` or it is not being exported correctly. Any

[2020-09-04 05:25] lesserof2weevils opened #58 "Manual colour selection for colourblind users"
Hi Rob,

I was wondering whether support for manually editing the colours in sequence chromatograms could be implemented? I'm red-green colour blind which can sometimes be an issue when interpreting and checking sequences. Other variations of colour-blindness is out there too, and they may need other combinations as well.

For red-green CB users, I imagine black, grey, blue, and red may be a good

[2020-09-05 06:08] Kuanhao-Chao commented on #57
Hi @camilogarciabotero,

Sorry for my late reply. I just checked the `generateReport()` function, and it seems that it works fine. If there's any chance you can send me your ab1 files to kuanhao.chao@gmail.com, that would really help. Of course, I'll only use them for fixing this bug!

Cheers,

Kuan-Hao

[2020-09-05 14:34] Kuanhao-Chao commented on #56
Downgrade R version to 3.6.3

[2020-09-05 14:34] #56 closed

[2020-09-06 02:05] Kuanhao-Chao commented on #58
Hi James,

Thank you so much for your feedback. I've added `colors` parameter in `generateReport()` and `launchApp()` functions. Users can now set their own color theme of Shiny applications and final HTML reports. There are three options for users to choose from.
 1. `default`:  (green, blue, black, red, purple).
 2. `cb_friendly`:  ((0, 0, 0), (199, 199, 199), (0, 114, 178), (213, 94, 0), (204,

[2020-09-07 01:39] camilogarciabotero commented on #57
Hi @Kuanhao-Chao

Thanks for your answer. When trying this function as suggested:

[code]
Worked for me, yet the HTML report is quite different from what the direct report of the function `launchApp()`renders. Is this what the report should look like when using the function?

![image](https://user-images.githubusercontent.com/25586362/92340308-7274ee00-f07f-11ea-8bda-c7f92e054ef1.png)

Also, when

[2020-09-07 03:30] Kuanhao-Chao commented on #57
Hi @camilogarciabotero,

I tested the `generateReport ` function again and found that the function will crash if you give relative path instead of the absolute path. I have fixed this bug in the newest commit. Please rerun your function again and let me know whether it works.

And for the HTML report, the layout of it is different from Shiny apps, but the results stored inside are same as the resu

[2020-09-07 21:50] camilogarciabotero commented on #57
Hey Kuan-Hao,

Thanks for your support. I got this other message when using a relative path with the last commit version:

[code]

Regards,
Camilo.

[2020-09-22 07:51] wanjinhu opened #59 "Can sangeranalyseR provides the function of identifying the quality of chromatogram (ab1 file)?"
hi there, i got a problem want to consult you, hope you can reply me

i have a lot of chromatogram files (ab1 file), so can I use sangeranalyseR to distinguish the quality of these chromatograms? or do I need to remove the poor quality chromatograms before using sangeranalyseR?

thanks

[2020-09-26 05:13] Kuanhao-Chao commented on #59
Hi @wanjinhu,

You can use sangeranalyseR to trim reads with low quality scores. There are two trimming methods implemented in sangeranalyseR which are the modified Mott trimming algorithm and the sliding window trimming. Please check the sangeranalyseR documentation: https://sangeranalyser.readthedocs.io/

Cheers,

Howard

[2020-09-26 05:13] #59 closed

[2020-09-26 05:14] #58 closed

[2020-09-26 10:19] roblanf commented on #59
@wanjinhu, there are various other things you could also do (beyond trimming) to judge the quality of your reads in sangeranalyseR, e.g.:

1. Look at the mean (or median) Phred score of reads before or after trimming, and remove reads below some threshold.
2. As for 1. but use the number secondary peaks
3. As for 1. but use the number of indels or stop codons (assuming you have an amino acid seque

[2020-09-29 00:26] wanjinhu commented on #59
thanks, @Kuanhao-Chao @roblanf

[2020-09-29 01:13] wanjinhu commented on #59
thanks for the reply, @Kuanhao-Chao @roblanf
about two trimming methods, "M1" and "M2". they are all based on the chromatogram base qv value, right?
the formula is "Q = -10 log10 (P)".
 "M1" the default is 0.0001, that means Q value less than 40 could be trimmed;
"M2CutoffQualityScore" and "M2SlidingWindowSize" just like trimmomatic’s sliding window method, the default is 20 and 10.
my understandi

[2020-10-13 03:14] Kuanhao-Chao opened #60 "Error when launching Shiny app in package sangeranalyseR"
Bug report from Bioconductor Forum: https://support.bioconductor.org/p/134491/

---
Whenever I try yo launch the Shiny app in R, after having succesfully generated a SangerAlignment file, with the code

launchApp(sangerAlignment)

an error message appears:

"An error has occurred! Couldn't normalize path in 'addResourcePath', with arguments: 'prefix' = 'AdminLTE-2.0.6'; 'directoryPath' = 'C:/Users

[2020-10-13 03:16] Kuanhao-Chao commented on #60
`shinydashboard` package is used to create dashboards of Shiny applications embedded in sangeranalyseR. It seems like a version conflict issue to me now. Could you please provide your R session information `sessionInfo()` and a simple reproducible example here so that I can do some testing? Thanks a lot!

[2020-10-16 12:57] bomsterr commented on #60
I also get this error, I typed `sessionInfo()` and got the following:

![image](https://user-images.githubusercontent.com/49420192/96260835-946e6400-0f8d-11eb-8e5f-0c3973911b26.png)

[2020-10-21 07:52] Kuanhao-Chao opened #61 "Launch Shiny app error"
R problem SangeranalyseR workflow:

[code]

[2020-10-21 09:52] Jordan-Soria commented on #61
Here is all info in detail:

Bioconductor version 3.12 (BiocManager 1.30.10), ?BiocManager::install for
  help

* sessionInfo()

R version 4.0.2 (2020-06-22)
Platform: i386-w64-mingw32/i386 (32-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=Spanish_Spain.1252  LC_CTYPE=Spanish_Spain.1252
[3] LC_MONETARY=Spanish_Spain.1252 LC_NUMERIC=

[2020-10-21 09:53] Jordan-Soria commented on #61
[sangeranalyseR problem with shiny app and writeFasta().txt](https://github.com/roblanf/sangeranalyseR/files/5414972/sangeranalyseR.problem.with.shiny.app.and.writeFasta.txt)

[2020-10-30 10:49] dracoplasma commented on #60
Hi, I'm the original poster.
I created the path specified in "'C:/Users/biocbuild/bbs-3.12-bioc/R/library/shinydashboard/AdminLTE" (empty folders) and the app launches. But the graphs and results don't appear. I'm away from my computer now, but I will provide sessionInfo and screenshots.

[2020-10-30 14:58] bomsterr opened #62 "Obtain odd consensus sequence when aligning piecewise DNA segments"
I am trying to align different DNA segments (DNA segments do not overlap entirely as does in package example for ACHLO) and obtain odd DNA consensus alignment back. Is this one of the limitation of sangeranalyzeR where all the fragments have to overlap to obtain a clean, consensus alignment?

[2020-10-30 21:47] roblanf commented on #62
HI @bomsterr, this *should* work fine in most situations. Are you able to send me or @Kuanhao-Chao your data (my contact: https://biology.anu.edu.au/people/academics/robert-lanfear), so we can take a look for you?

If you can send the data, as well as the commands you used, that would really help in figuring it out. Hopefully it's something we can address by updating the package or helping you wit

[2020-10-30 22:47] roblanf commented on #62
It would also help if you could post an image of your alignment, describe a bit more about what makes it odd, and the consensus sequence you get.

[2020-10-30 22:51] bomsterr commented on #62
Yeah makes sense, I can post what I responded to you! I may not be able to
post an image of my own alignment as it is not my company's property and I
may need permission from my manager. I can ask him on Monday

On Fri, Oct 30, 2020 at 6:47 PM roblanf <notifications@github.com> wrote:

[2020-10-30 22:57] roblanf commented on #62
Totally understand. Just post as much info as you can (even if it's from
the example code, that's also super helpful), that way we can figure it out
better.

Rob

On Sat, 31 Oct 2020 at 09:51, Bomi <notifications@github.com> wrote:

--
Rob Lanfear
Division of Ecology and Evolution,
Research School of Biology,
The Australian National University,
Canberra

www.robertlanfear.com

[2020-10-30 22:59] bomsterr commented on #62
This issue comes up with an example on sangeranalyseR documentation on page 17:

[code]

This runs fine. Then I try to obtain the consensus sequence of this alignment by typing `toString(sangerAlignment@contigsConsensus)` and get the following result:
`"TTATAYTTTATTYTRGGCGTCTGAGCAGGAATGGTTGGAGCYGGTATAAGACTYCTAATTCGAATYGAGCTAAGACARCCRGGAGCRTTCCTRGGMAGRGAYCAACTMTAYAATACTATYGTWACTGCWCACGCATTTGTAATAAT

[2020-11-01 10:02] phkrogh opened #63 "writeFasta problem"
The  SangerAlignment creates successfully a SangerAlignment' S4 instance but the writeFasta
reports this error
"Error in" writeXStringSet(alignmentObject, file.path(outputDir, "Sanger_contigs_alignment.fa"),  :
  'x' must be an XStringSet object

If I use
writeFasta(sangerAlignmentData, outputDir = "[path]")
it will write some hidden earthworm sequence example dataset
(Achl_ACHLO007 and Achl_ACHLO

[2020-11-02 05:12] Kuanhao-Chao commented on #60
Hi @dracoplasma, @bomsterr

I just realised that there are some errors in Shiny applications because some imported R packages worked differently in R 4.0 (like the graphs and sequences don't appear in the Shiny apps). Would you please try R 3.6 to see whether you can run the Shiny app command ? I will fix the dependency issue and find a Windows computer to test sangeranalyseR recently.

Sorry for

[2020-11-02 06:31] Kuanhao-Chao commented on #62
Hi @bomsterr,

We use IUPAC code to present the consensus read; thus, you can find letters that are not the standard 4 bases (https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=BlastHelp).

I just checked the alignment result and consensus read of the SangerAlignment example code, and it seems correct. You can further check the alignment by running the following command:

[2020-11-02 09:04] Kuanhao-Chao commented on #63
Hi @phkrogh

Could you send me your data (kuanhao.chao@gmail.com), so I can check it for you?
By your description, it seems to me that you may use the wrong input for `writeFasta ` function.
The input for `writeFasta ` function is the SangerAlignment S4 instance that you created in the previous step.

And for the example dataset in sangeranalyseR, can you successfully create those three FASTA file

[2020-11-02 13:08] bomsterr commented on #62
That makes sense, thank you for explanation Howard!

Also another question is if the .ab1 file names were not standardized, would this not work? In the example with ACHLO, the naming convention is very standardized where it follows "[consensus] + _ + [index] + [F,R] + .ab1". But I am struggling to create naming pattern for my files. This is what my .ab1 DNA sequences look like:

![image](https://u

[2020-11-02 16:42] Kuanhao-Chao commented on #57
Hi @camilogarciabotero

I fixed the relative path problems in both `writeFasta` and `generateReport` functions and updated it in the latest commit.
Both `generateReport(sangerAlignment, "./output_directory")` and `writeFasta(sangerAlignment, "./output_directory")` should work correctly now.

Sorry for my late reply.

cheers,
Howard

[2020-11-02 17:20] Kuanhao-Chao commented on #62
Hi @bomsterr,

Yes, your understanding of sangeranalyseR naming convention is correct : "[consensus] + _ + [index] + [F,R] + .ab1"
If it is convenient for you, could you share your alignment results here or with me (kuanhao.chao@gmail.com). I can take a look for you.
You can also try stricter quality trimming conditions. It might improve the following alignment result.

cheers,

Howard

[2020-11-02 17:58] Kuanhao-Chao commented on #63
Hi @phkrogh

Thanks for your email. I've checked your code and fixed the problem.
The reason why your program crashed is because your created sangerAlignment instance only contains one contig; therefore, the `contigsAlignment` is NULL in the sangerAlignment instance and can not be written out as a FASTA file.

I have fixed this issue in the latest commit. sangeranalyseR now generates a warning ins

[2020-11-02 17:58] #63 closed

[2020-11-02 18:39] Kuanhao-Chao commented on #61
Hi @Jordan-Soria ,

Sorry for my late reply. I am still working on the `launchApp` problem that you encountered. I will find a Windows OS computer to test it recently.

And for the `writeFasta` error that you encountered, I recently fixed some bugs in sangeranalyseR in the latest commit. Please run your `writeFasta` function again too see whether the problem is solved. If it is convenient for you,

[2020-11-03 08:05] Jordan-Soria commented on #61
Hi,
Ok, I will install the library again to see now it works and if it does not work I will put the info_session on the github again.
Thanks a lot for your effort!! :-)

A greeting,
José.

[2020-11-03 09:05] Jordan-Soria commented on #61
Hi again,
I have installed the development version

install_github("roblanf/sangeranalyseR", ref = "develop")

Now some bugs have been fixed, but others remain. The app now works but it continues without generating an assembly of the sequences that I introduced. I'm going to upload here a file with the folder used with .abi sequences example that i'm using.
I have these sequences correctly aligned

[2020-11-03 09:09] Jordan-Soria commented on #61
I was thinking if you have simple example sequences like the manual that you know work in R so I can try it in my R if it is not inconvenient, Thanks!

[2020-11-03 14:34] #62 closed

[2020-11-09 01:02] Kuanhao-Chao commented on #60
Hi @dracoplasma, @bomsterr

I have updated the R package in the latest commit. Please check whether the graphs and results appear in Shiny apps (`launchApp` function) and also RMarkdown reports (`generateReport` function).

@bomsterr Could you run with your data again to see whether you can launch the app now? Thanks a lot.

cheers,

Howard

[2020-11-09 01:03] #57 closed

[2020-11-09 22:46] bomsterr commented on #60
Hi Howard,

I ran `launchApp(sangerAlignment)` and got the same error again:

**Warning: Error in value[[3L]]: Couldn't normalize path in `addResourcePath`, with arguments: `prefix` = 'AdminLTE-2.0.6'; `directoryPath` = 'C:/Users/biocbuild/bbs-3.12-bioc/R/library/shinydashboard/AdminLTE'**

[2020-11-12 07:09] Kuanhao-Chao commented on #61
Hi @Jordan-Soria

I have tried your data. The reason why there was no consensus read in your R shiny app is because it was not created correctly. You used the wrong regular expression representation. Please try the following codes to see whether it works for you.

[code]

And thanks to your report, I have fixed the R shiny apps to handle NULL exception. Please install sangeranalyseR in the newest

[2020-11-12 10:10] Jordan-Soria commented on #61
Hi!

Okay, now is working the code. if i have a problem i tell you

Thanks!!

El jue., 12 nov. 2020 a las 8:09, Kuan-Hao, Chao (<notifications@github.com>)
escribió:

[2020-11-16 04:58] roblanf commented on #61
@Kuanhao-Chao, what safety-checks can we add into the data-loading process to make users aware of this?

My suggestion is that when the data loads we output to the display a summary something like:

[code]

where `[object]` describes exactly how the user would see the table of which reads had been assigned to which contigs (the table should contain every read in the input folder, as well as whethe

[2020-11-16 05:02] Kuanhao-Chao commented on #61
@roblanf That sounds like a great idea! I’ll include this feature recently 👍

[2020-11-18 17:14] thokall commented on #53
I got the same error without just following the tutorial here https://sangeranalyser.readthedocs.io/en/latest/content/beginner.html#step-2-loading-and-analysing-your-data, but with my own sequence files

[2020-11-19 08:02] thokall commented on #53
Could the error be related to samples not generating a contig (no data that passes QC) so that there are empty contigs created ?

[2020-11-19 22:58] roblanf commented on #53
I think it could well be. Howard - what we need are some QC steps that
produce warnings when e.g. (i) any reads are left out of any contigs; (ii)
any contigs end up with no reads at all; and anything else we can think
users might want to be warned about when assembling all the data...

On Thu, 19 Nov 2020 at 19:03, Thomas Källman <notifications@github.com>
wrote:

--
Rob Lanfear
Division of Ecolog

[2020-11-20 03:24] Kuanhao-Chao commented on #53
hi @thokall,

I am working on the QC steps now. If you can send me your dataset, I can check where the problem is  for you first (kuanhao.chao@gmail.com).
Thank you !

Howard

[2020-11-20 09:16] Kuanhao-Chao commented on #61
These are the summary tables after S4 objects are successfully created. It is included in the newest commit.

### SangerRead Level
<img width="589" alt="Screen Shot 2020-11-20 at 5 13 13 pm" src="https://user-images.githubusercontent.com/26069376/99782237-d32aa780-2b53-11eb-99d2-62943134aa4e.png">

### SangerContig Level
<img width="698" alt="Screen Shot 2020-11-20 at 5 12 52 pm" src="https://user

[2020-11-23 13:14] thokall commented on #53
Hi,

My reasoning came from the fact that for some samples I only had forward data and a subset of these were of very low quality. If I just loop over all individual .ab1 files and extract fasta I do get a result from all of them, but in some cases it just a single bp left. I presume that this base is left in to avoid having empty outputs. For contigs I would expect a consensus read to contain the

[2020-11-23 21:52] roblanf commented on #53
Hi Thomas,

I think your reasoning is about right, and what the package does will
depend on certain settings you have (e.g. how many reads need to overlap a
position for that base to be included in the contig).

Once you send us the data we'll take a look and get back to you. I really
appreciate your willingness to take the time to engage and help - it's the
only way the package will improve!

Rob

[2020-12-09 17:17] thokall commented on #53
I have tried to create a minimal example to help identifying the issues, but it looks like the problem only occurs when I have more than 200 ab1 files as input. If split the analysis over two folders and run the analysis separately there is no longer any issues. But adding more than 200 to a single folder and running the analysis generates the following:
[code]
[code]

and then

`writeFasta(al, ou

[2020-12-11 01:08] roblanf commented on #53
Hi @thokall, if you can send me or Howard your dataset (my contact: rob.lanfear@anu.edu.au) I'd be happy to take a look. We (of course) won't share your dataset with anyone. But it's really the only way we can debug things in a way that makes sure it will work for you.

[2020-12-11 06:49] thokall commented on #53
I will check the option to do so. I trust you not to spread the data, but the since the data is not mine I need to get a green light from the owner, hence my attempt to create a minimal example and explore on my own.

[2021-01-17 00:23] lixiaopi1985 opened #64 "Is there a version in R 3.6 that I can install?"
Hi,

I thought I could update the package so I deleted the package, but later found out the newest version is on R 4.0. Is there a lower version that I can download and install?

Thanks,

[2021-01-17 19:49] Kuanhao-Chao commented on #64
Hi @lixiaopi1985,

sangeranalyseR is only maintained in R 4.0.0 environment because it is a Bioconductor 3.12 Release package (The R version of all packages in Bioconductor 3.12 Release must be at least 4.0.0).

But there is still a way to install sangeranalyseR in lower R version. The following are the steps.
1. Install the source code through GitHub locally.
2. Decompress the source code.
3. Ope

[2021-01-17 21:49] #64 closed

[2021-01-18 02:13] AlexGaithuma commented on #60
Hi Howard,

I also got the same error.

     R version 4.0.3 (2020-10-10)
     Platform: x86_64-w64-mingw32/x64 (64-bit)
     Running under: Windows 10 x64 (build 18363)

     Matrix products: default

     locale:
     [1] LC_COLLATE=English_United Kingdom.1252  LC_CTYPE=English_United Kingdom.1252
     [3] LC_MONETARY=English_United Kingdom.1252 LC_NUMERIC=C
     [5] LC_TIME=English_United Kingd

[2021-01-21 23:49] tomsauv commented on #53
Hello,

I get the same error from `vapply`, however the contigs and alignment are written to file anyway. (I am on macOS Catalina, developper version of SangeranalyseR)

I have noticed that in the report printed on screen, some chromatograms are doubled in number...
e.g. below, AB4-3 shows with 2 forward reads and 2 reverse reads but in my folder each has only 1 chromatogram...

I don't mind sendi

[2021-01-21 23:58] Kuanhao-Chao commented on #53
Hi @tomsauv,

Thanks for raising this issue. We'll work on it!
I guess maybe the regular expression that you use matches both reads. I'll take a look after you send me the files.
You can send me your files (kuanhao.chao@gmail.com) and that would be really helpful. We'll only use them for fixing this bug!

Howard

[2021-01-22 00:07] roblanf commented on #53
@Kuanhao-Chao, I guess this is something we hadn't considered (i.e. double counting).

Whether or not double counting is the issue in this case, we should add a test where double counting occurs. We should then add a check when parsing regular expressions that each read is assigned to one and only one group (e.g. Forward, reverse, or the contig groups). In the case that 1 or more reads could be as

[2021-01-22 00:08] roblanf opened #65 "Handle the case where a read is assigned to >1 place"
Creating this as a separate issue so it's easy to track when it's done. Here's the original post from a probably related issue:

@Kuanhao-Chao, I guess this is something we hadn't considered (i.e. double counting).

Whether or not double counting is the issue in this case, we should add a test where double counting occurs. We should then add a check when parsing regular expressions that each read

[2021-01-22 00:08] roblanf commented on #53
Created a new issue for the above

[2021-01-24 21:29] Kuanhao-Chao commented on #53
Hi @tomsauv,

Thank you for your bug report. I've fixed the problem of reads repeat. Please download sangeranalyseR again from the lastest master branch.

[code]

Let me know if there is any new problems. Thanks!

Howard

[2021-01-25 13:06] tomsauv commented on #53
Runs without error! Thank you

[2021-01-25 13:56] #53 closed

[2021-01-26 19:49] tomsauv opened #66 "improper merge/contig"
Hello,

Using trimming methods M1, my trimmed reads are too short to overlap and an erroneous contig is created (see below numerous degeneracies). Relaxing M1TrimmingCutoff to 0.0002, the merge is proper and the sequence longer (and no major degeneracies).

I verified that there is no similarity between the forward and reverse trimmed reads in the first case, why is a merge happening? none should

[2021-01-26 20:25] roblanf commented on #66
Hi @tomsauv,

Thanks for raising this. The merge happens because you've told sangeranalyseR to _try_ and merge these two reads into a contig, so it will go ahead and attempt it. You're right though, we should think about a way to flag situations like this and warn the user.

Any chance you could post a screenshot of the alignment of the two reads and the consensus (you can get that from the shiny

[2021-01-26 21:04] tomsauv commented on #66
Hi Rob,

I positioned the forward trimmed sequence where degeneracies start on the contig and it corresponds (see screenshot). So the forward aligns itself at that spot.

![Screen Shot 2021-01-26 at 17 55 22](https://user-images.githubusercontent.com/19791828/105904718-404d3400-6000-11eb-9c19-eee52e106bf1.png)

Thomas

[2021-01-26 22:50] roblanf commented on #66
@Kuanhao-Chao, we need to have a think about ways to identify, flag, (and maybe an option to disallow) these kinds of alignments.

Post any thoughts and ideas here!!

The simplest one I can think of would be to allow users to specify a maximum number or percentage of mismatches between the reads and the contig. For example, typically we might think that you'd get 1% mismatches through things like

[2021-01-26 23:03] roblanf commented on #66
just a small update - it occurs to me that any mismatch threshold should be calculated only for the bases where >1 read has contributed to the contig! And also, the threshold should obviously count as a mismatch something where the read is certain but the contig is ambiguous, but _not_ if the read is ambiguous but the contig is not.

[2021-01-27 01:10] tomsauv commented on #66
Hello,

A good approach could be to compute the % divergence of the overlaping segment and store it in your object (i.e. 100-((nt mismatch/nt in overlap)*100). Then you can look at the distribution of those values; improper merges should results (hopefully) in clear outliers as compared to proper merges. As you mentioned, for those improper merges you could then move to a different trimming settin

[2021-01-27 15:59] Kuanhao-Chao commented on #61
Update sangeranalyseR reads creation df table:

1.  SangerRead
- [x] Change errors detection hierarchy
- [x] Creating a summary to show the creation status of the read

2. SangerContig
- [x] Change errors detection hierarchy
- [ ] Creating a df table to store the creation status of the reads (both forward and reverse reads)

3. SangerAlignment
- [ ] Change errors detection hierarchy
- [ ] Creating

[2021-02-02 16:38] thokall commented on #53
I know this is closed, but still want to mention that it now works as expected. Thanks to all that contritubed and sorry that I could not share my input to try and find the problems earlier.

[2021-02-09 00:32] varelaes opened #67 "Error to align Sanger file"
Hi,

I've tried run my .abi files but it doesn't work. I also tried example data from package but no sucessful. See below the mensage

my_aligned_contigs_ABIfiles <- SangerAlignment(parentDirectory     = "ABI_files/",
                                      suffixForwardRegExp = "_[0-9]+_F+",
                                      suffixReverseRegExp = "_[0-9]+_R+")

**Error in checkMinReadsNum(minRe

[2021-02-09 08:22] Kuanhao-Chao commented on #67
Hi @varelaes,

I've check the sangeranalyseR example code on the latest master branch, and it works correctly.
Could you send me your data (kuanhao.chao@gmail.com), so I can check it for you?
If you want to re-install the newest version of sangeranalyseR from github, you can run the following code

[code]

cheers,

Howard

[2021-02-17 05:32] #67 closed

[2021-03-05 21:51] SilonovSA commented on #60
Hi, Howard,
I tried to run SangerAnalyzer according to https://sangeranalyser.readthedocs.io/en/latest/content/beginner.html, but had the same mistake: [ Couldn't normalize path in `addResourcePath`, with arguments: `prefix` = 'AdminLTE-2.0.6'; `directoryPath` = 'C:/Users/biocbuild/bbs-3.12-bioc/R/library/shinydashboard/AdminLTE' ].
Are there any variants to solve this problem?
I hope for your hel

[2021-03-17 13:08] Sofi-tofi commented on #19
Hello Roblanf, I have the same issue in my sangeranalyseR scrip. Can you give me any tips for fix it?

Thank yuo

[2021-03-17 19:54] roblanf commented on #19
Hi @Sofi-tofi - same tip as above! If sangerseqR can't read your file, then I'm afraid we can't help right now. What you need to do is go to the developer of sangerseqR to see if they are willing to develop a parser for your file type.

[2021-03-18 17:16] Virginia-b commented on #61
Hi. I am new in sangeranalyseR and in Rstudio in general. I have to use it to do my project of final of my degree. But I have a problem, and I think that it is the same that Jordan-Soria had.
----------------------------------------------------------------------------------------------------------------------------

INFO [2021-03-18 18:03:32] Your input is 'SangerAlignment' S4 instance
INFO [2021-

[2021-03-18 17:36] Virginia-b commented on #60
Hi Howard,

I also have the same problem when I try to launch Shiny app using

____________________________________________________________________

 

 
--

[2021-03-18 17:39] Virginia-b commented on #60
Hi Howard,

I have also the same problem when I try to launch Shiny app using

launchApp(my_aligned_contigs)
_________________________________________________________

 

R version 4.0.4 (2021-02-15)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=Spanish_Spain.1252  LC_CTYPE=Spanish_Spain.1252

[2021-03-18 21:46] Sofi-tofi commented on #43
Hello, thankyou for generate sangeranaliseR, I was wondering if you can help me with the fuction readTable(). I want wrinting a .cvs file with the information give it by readTable().

If I ran readTable(sangerReadF) I get:

**> myDATA <- readTable(sangerReadF)
INFO [2021-18-03 18:38:55] ********************************************
INFO [2021-18-03 18:38:55] ******** SangerRead readTable print ****

[2021-04-19 18:22] pbpearman opened #68 "Unavailable external font resource"
I have been using SangerAlignment(), launchApp() and generateReport() all afternoon.  Suddenly I started getting the following error, which appears to indicate that an external resource is not available:

               outputDir = './primer_pair_6')

....a lot of standard knitr output as before.... (followed by)

pandoc: Could not fetch https://pro.fontawesome.com/releases/v5.10.0/css/../webfonts

[2021-04-20 13:16] pbpearman commented on #68
On the following day, I was able to successfully generate reports using the same data and code.  Upon running a third attempt, again the same error as above was displayed.  I suspected that the website may be tracking external users with the user's IP address.  I exited RStudio and used a VPN to connect to a university network, then started RStudio and re-ran the code.  The code that had failed th

[2021-04-20 22:25] roblanf commented on #68
Hi Peter,

Wow, thanks for this update. Definitely something we'll have to look into.
Howard - I guess there should be ways that we can package up all the fonts
we need inside our package, and avoid attempts to download fonts?

Though it seems odd to me (naively) that the package would want to keep
downloading the fonts over and over. I'm ignorant as to how that part works
though.

Rob

On Tue, 20

[2021-05-14 09:20] wanjinhu opened #69 "The function“SangerRead” Error"
Hello@Kuanhao-Chao:

sangeranalyseR did a great job in sanger sequence.

**When i run function "SangerRead", there are some error showed up, like:**
[code]
**The code i run is:**
[code]
I cant fix this Error, Can you help me out this problem?

Thanks a lot

WanjinHu

[2021-05-17 02:28] tomsauv commented on #53
Hi,

I tried the .csv method and I get the _vapply_ error. I noted as in my earlier message of Jan21 that "2 forward reads and 2 reverse reads" shows up. The assembly completes but then I get an error to export with writeFasta

However, when I run the same dataset with the regex method, I get no issue. None of the forward/reverse reads shows as 2, only 1s. I get no issue exporting wit _writeFasta_

[2021-05-20 16:43] Vladislav-Shevtsov opened #70 "launchApp(my_aligned_contigs) issue, please help"
I have the following text appear:

INFO [2021-05-20 22:40:24] Your input is 'SangerAlignment' S4 instance
INFO [2021-05-20 22:40:24] >>> outputDir : C:\Users\VLADIS~1\AppData\Local\Temp\RtmpcXjzLO

Listening on http://127.0.0.1:4026
Warning: Error in value[[3L]]: Couldn't normalize path in `addResourcePath`, with arguments: `prefix` = 'AdminLTE-2.0.6'; `directoryPath` = 'D:/biocbuild/bbs-3.13-bioc

[2021-05-20 16:44] Vladislav-Shevtsov commented on #70
When window appear I see following:

An error has occurred!
Couldn't normalize path in `addResourcePath`, with arguments: `prefix` = 'AdminLTE-2.0.6'; `directoryPath` = 'D:/biocbuild/bbs-3.13-bioc/R/library/shinydashboard/AdminLTE'

[2021-05-22 23:34] Kuanhao-Chao commented on #60
Hi @bomsterr, @AlexGaithuma, @SilonovSA, @Virginia-b,

Sorry for the late reply.
This is a bizarre bug for me. I tried sangeranalyseR on the macOS 10.15 and Windows 10, and did some experiments; however, I just couldn't duplicate the same error. I guess in some conditions, the shinydashboard package that sangeranalyseR depends on could not handle this AdminLTE path error. Could you install sangera

[2021-05-22 23:37] Kuanhao-Chao commented on #70
Duplicate of #60.

[2021-05-22 23:37] Kuanhao-Chao commented on #70
Duplicate of #60
I'll close this issue and let's discuss in #60.

[2021-05-22 23:39] #70 closed

[2021-05-22 23:43] Kuanhao-Chao commented on #69
Hi @wanjinhu ,

Could you send me your data (kuanhao.chao@gmail.com), so I can check it for you?
If you want to re-install the newest version of sangeranalyseR from github, you can run the following code

[code]

cheers,

Howard

[2021-06-25 16:20] ramiroricardo opened #71 "base calling"
Hi @roblanf ,

Thank you for developing  sangeranalyseR, we have been testing it for some applications and it is quite interesting.

One doubt we have is what method is being used for the base calling? and could it just take the base calling directly from the raw ab1 file?

best,

Ramiro

[2021-07-01 06:45] Kuanhao-Chao commented on #71
Hi @ramiroricardo,

We use the base calling method in [sangerseqR](https://www.bioconductor.org/packages/release/bioc/html/sangerseqR.html). So basically what it does is to get the maximum peak value for each channel in each peak window.

If you want to use sangeranalyseR to check the base calling result, you can create a *SangerRead* object and it stores all raw information that's needed for base

[2021-07-20 00:40] wanjinhu commented on #69
@Kuanhao-Chao
I found the problem, the ab1 file was damaged during the transfer process using ftp. The original ab1 file is a binary file, but improper ftp transmission will cause the file to be damaged.

In fact, if function “SangerRead” run Erro, most of the reasons are due to file corruption. You can use the software like _Chromas_ to check the integrity of the ab1 file.

Wanjin Hu

[2021-07-20 01:28] roblanf commented on #69
Thanks @wanjinhu, that's super useful to know.

@Kuanhao-Chao, maybe we should build in an ab1 file check routine prior to loading. E.g. something like:

[code]

We can probably just do all of this as part of the usual workflow, by adding these kinds of useful error messages at key points. What do you think @Kuanhao-Chao?

[2021-07-20 19:44] Kuanhao-Chao commented on #69
Thanks @wanjinhu for sharing this useful information, and I hope new sangeranalyseR update is useful for you. Please let us if there are any feedbacks.

@roblanf, this sounds like a great idea! Currently, sangeranalyseR uses the ab1 file reading method from sangerseqR, and I can add this checking method on top of it to make it robuster.

[2021-08-03 14:42] #69 closed

[2021-09-22 08:43] dmaher14 opened #72 ""subscript out of bounds""
I'm trying to run through the sample code outlined [here](https://bioconductor.org/packages/release/bioc/vignettes/sangeranalyseR/inst/doc/sangeranalyseR.html#4_SangerAlignment). Everything works fine up until the generateReportSA() function, which produces the following error:

Quitting from lines 57-77 (SangerAlignment_Report.Rmd)
Error in params$SangerAlignment@contigList[[1]] : subscript out o

[2021-10-04 18:49] odcambc opened #73 "Change documentation for function args?"
Thanks for the very useful package! I was having a bit of trouble following the examples in the readme and the documentation before I realized that the function calls had changed, though.

Right now the following example is given in the readme:
[code]
This throws an "unused arguments" error. I gather the parameter names have changed. The following works for me:
[code]
The current version of the be

[2021-10-05 19:19] Kuanhao-Chao commented on #72
Hi @dmaher14 ,

Sorry for my late reply. The document on Bioconductor is the old version. You can check the latest example on Github homepage [Link](https://github.com/roblanf/sangeranalyseR) or [sangeranalyseR documentation](https://sangeranalyser.readthedocs.io/en/latest/).

There are some examples you can just copy and paste to rerun everything. Please let me know if you still have any problems

[2021-10-05 19:22] Kuanhao-Chao commented on #73
Hi @odcambc ,

I think the sangeranalyseR that you installed is the the old version. Please reinstall sangeranalyseR again and I think it will work. Here is the [installation page](https://sangeranalyser.readthedocs.io/en/latest/content/installation.html).

Howard

[2021-10-05 19:23] #73 closed

[2021-10-06 23:14] dmaher14 commented on #72
Hi Howard, thank for replying. The documentation you linked me to is actually what I tried first. I'm still a little confused as to which version is "current." After loading the sangeranalyseR library, the main function arguments don't appear to match that documentation. For example, the SangerAlignment function no longer seems to accept the argument REGEX_SuffixForward but instead requires suffix

[2021-10-07 00:10] Kuanhao-Chao commented on #72
Hi @dmaher14 ,

Please install sangeranlyseR again from github [link](https://sangeranalyser.readthedocs.io/en/latest/content/installation.html). After installing it, it should work! Please let me know if it doesn't work.

Best,
Kuan-Hao

[2021-10-07 12:29] MarieRut opened #74 "ISSUE SangeranalyseR Shiny app/ launchApp command does not work"
Hello everyone,

I am quite new to R and Github as well. Currently, I am working with SangeranalyseR and created several contigs. But the launchApp comand as well as the writeFasta command does not work. Please find attached my code + error messages from the console.
Here my code:

if (!requireNamespace("BiocManager", quietly = TRUE))
  install.packages("BiocManager")

BiocManager::install("sanger

[2021-10-09 16:06] dmaher14 commented on #72
Hi Kuan-Hao,

After messing with the program a bit more I am wondering if maybe some of the problems I am running into are stemming from the fact that I am trying to align multiple F and R traces together (as opposed to just one of each) to create a contig. Does sangeranalyseR allow for this?

[2021-10-15 15:07] padpadpadpad opened #75 "Use of functions not inside interactive environment"
Hi sangeranalyseR team

A lot has changed since I last used the package. I worked through my own scripts using the functions @roblanf made originally in sangeranalyseR. Is there any way to use the functions harnessed under-the-hood inside R Studio and related scripts?

For example some of my code used to look like:

[code]

Just feel like this approach gives me more flexibility than the interactiv

[2021-10-18 07:10] Kuanhao-Chao commented on #74
Hi @MarieRut ,

The examples on the vignettes html are outdated. We have new examples on the sangeranalyeR documentation page, please check [here](https://sangeranalyser.readthedocs.io/en/latest/). There are a few examples that you can just copy-paste in the R shell. It should work!

Best,
Howard

[2021-10-18 07:28] Kuanhao-Chao commented on #75
Hi @padpadpadpad,

Thanks for using sangeranalyseR. Short answer is "Yes!",  you can do everything in R-shell. We rewrote sangeranlyseR in object-oriented way, and it includes all the old features.

If you want to run with one abif file, see the example in this [page](https://sangeranalyser.readthedocs.io/en/latest/content/advance_user_SangerRead_ab1.html).
For creating a contig, see the example i

[2021-11-03 21:55] cgcole opened #76 "qualityPhredScores Error"
Hello,

I am running into an issue with using SangerAlignment() on some of my .ab1 files. I have used it in the past with no problem, but for files from my last two batches of sequencing, I run into the following error code:

Error in .local(.Object, ...) :
  'qualityPhredScores' length cannot be zero.PARAMETER_VALUE_ERROR
In addition: Warning message:
In read.abif(readFileName) : unimplemented le

[2021-12-02 08:04] ryamy opened #77 "Launch shiny on bioconductor docker image"
Thanks for your great library, I enjoy using `sangeranalyseR`.

Now I am using `sangeranalyseR` on bioconductor-docker container.
Could you kindly  tell me how to access shinyapp launched via `launchApp()` on bioconducotr docker?
Shiny app seems to wait on a different port in each launch.
Is it possible to fix the shiny app waiting port? I would like to EXPOSE shiny port on docker container, but I

[2021-12-03 01:07] ryamy commented on #77
By setting `shiny.port` and `shiny.host` on R session, I can access the shiny ui from my localhost. Thanks!!
[code]

[2021-12-03 04:42] ryamy opened #78 "Alignment only forward reads"
Are there any methods to align only forward sequences? Does `sangeranalyseR` always require both forward and reverse sequence files?

[2021-12-12 14:34] Ruddhida opened #79 "Regarding sangeranalyseR package"
i am getting an error as "trim.mott not found". what could be the reason for that? and how do i rectify it?

looking forward to hearing from you soon.

thanks and regards
Ruddhida
<img width="916" alt="R" src="https://user-images.githubusercontent.com/80348212/145716609-32eaadf0-dea3-402d-9a85-e7a43a5400e6.png">

[2021-12-17 12:11] somakchowdhury opened #80 "Failure to generate html report"
I am running into the following error when I run the reproducible example.

What am I doing wrong? Could you help?

sangeranalyseR command used :
 `generateReport(ACHLO_contigs, includeSangerContig=TRUE, includeSangerRead=TRUE, outputDir = "./report/")`

Error thrown:
`File ./Chromatogram.pdf not found in resource path
Error: pandoc document conversion failed with error 99`

Session Info:

[code]

[2022-01-06 05:38] JanEngelstaedter commented on #80
I've had exactly the same error, on MacOS Big Sur.

[2022-01-10 03:32] roblanf commented on #80
Sorry for the slow replies guys, and for the issue. @Kuanhao-Chao and I will take a look ASAP.

[2022-01-10 19:27] Kuanhao-Chao commented on #80
Hi @somakchowdhury and @JanEngelstaedter,

Sorry for the slow replies. I just tested with the example dataset with `outputDir = "./report/"`, and it worked.
The error message you got shows that the './Chromatogram.pdf' is either not created or placed in the wrong path.
I could not reproduce your error so I am not sure what happened. I am running on MacOS Big Sur as well.

Could you help me test if

[2022-01-10 19:32] Kuanhao-Chao commented on #79
Hi @Ruddhida,

We do not implement `trim.mott` function in sangeranalyseR. I think the function that you are looking for is `updateQualityParam`.
Here is the link to the documentation:
https://sangeranalyser.readthedocs.io/en/latest/content/advance_user_SangerRead_ab1.html#updating-sangerread-quality-trimming-parameters

Best,
Kuan-Hao

[2022-01-10 19:32] #79 closed

[2022-01-10 19:34] Kuanhao-Chao commented on #78
Hi @ryamy,

sangeranalyseR does not require both forward and reverse reads. You can align only forward sequences. Just put all reads you want to align in the same directory and follow the naming regulation. It should work!

Here is the link to the documentation: https://sangeranalyser.readthedocs.io/en/latest/content/advance_user_SangerAlignment_ab1.html

Best,
Kuan-Hao

[2022-01-10 19:35] #78 closed

[2022-01-10 19:36] #77 closed

[2022-01-10 22:38] roblanf commented on #79
Just to expand a bit (an sorry for my slow reply here). `trim.mott()` is a function that was in the old (unreleased) version of SangerAnalyser.

To trim reads with this algorithm (the algorithm is still there, just not the function) you can change the `TrimmingMethod` parameter.

The default is `TrimmingMethod        = "M1"`, which is the Mott algorithm. The alternative is `TrimmingMethod        =

[2022-01-11 00:07] JanEngelstaedter commented on #80
Thanks Kuan-Hao! I've tried your example and got the same error. Everything else (processing files, shiny app, writing fasta files) works fine, so I don't think the data is the problem. Judging from the output, it looks like the Rmd file is knitted without any issues, and the chromatogram.pdf is produced and saved where it's supposed to be saved. However, I suspect that the md file is written in a

[2022-01-11 03:32] somakchowdhury commented on #80
When running
`generateReport(ACHLO_contigs@contigList[[1]], includeSangerContig=TRUE, includeSangerRead=TRUE, outputDir = "./report/")`

I again get the following error:
[code]

When I run this one :
`generateReport(ACHLO_contigs@contigList[[1]]@forwardReadList[[1]], includeSangerContig=TRUE, includeSangerRead=TRUE, outputDir = "./report/")`

I still get the same error:

[code]

Seems like there s

[2022-01-12 02:03] Kuanhao-Chao commented on #80
Hi @JanEngelstaedter @somakchowdhury,

I think I've fixed the bug. Could you please help us test whether it works for you now?
You can download the lastest sangeranalyseR version by running:
[code]
Every 6 months Bioconductor requests developers to upgrade to the new R version, and every time there will be some packages that sangeranalyseR depends on change the exception handling and it causes som

[2022-01-12 04:23] somakchowdhury commented on #80
@Kuanhao-Chao  Thanks for the prompt response. After installing the latest version the report is generated as expected seems there is a need to keep an eye out for R updates I guess.

One more question I had was about the signal `signalRatioCutoff` value. Is it possible to ask the program when constructing contig to ignore secondary peaks and only call the bases called in the primary peak?

Thanks

[2022-01-12 04:31] JanEngelstaedter commented on #80
Yes, problem solved for me as well - thanks for fixing this so swiftly!
Cheers, Jan

[2022-01-13 03:23] Kuanhao-Chao commented on #80
Hi @somakchowdhury ,

`signalRatioCutoff ` controls the ratio of the height of a secondary peak to a primary peak. Secondary peaks higher than this ratio are annotated. Those below the ratio are excluded. The default value is 0.33.

So changing this value does not affect the result of primary sequence. It only changes the secondary sequence.

Best wishes,
Kuan-Hao

[2022-01-13 03:23] #80 closed

[2022-01-31 02:18] roblanf commented on #80
Just adding here what I _think_ might be an answer to this question (@Kuanhao-Chao can you tell me if I'm right?):

If you set the `signalRatioCutoff` to `1.1`, then presumably it's *impossible* to get a secondary peak that high, so secondary peaks will be ignored completely. What I'm unsure of is whether we force `signalRatioCutoff` to be <=1.0. If that's the case, then it's possible that we coul

[2022-02-09 15:32] Kuanhao-Chao commented on #80
Hi @roblanf

Sorry for the late reply. I didn't get the notification and just saw the message!
In the current released sangeranalyseR parameter sanity check, `signalRatioCutoff` must be between `0` and `1`, not equal ( `signalRatioCutoff < 0 || signalRatioCutoff > 1`) because I assume the secondary peaks must be lower than the primary peaks. Should we allow the equal case (`0` and `1`)?

Adding `i

[2022-02-10 00:04] roblanf commented on #80
I think it's probably good enough to just allow `signalRatioCutoff` to equal 1. In this case, that is effectively the same as having a completely separate parameter for `ignoreSecondaryPeaks`.

But it looks like your sanity check already allows this:
`signalRatioCutoff < 0 || signalRatioCutoff > 1)`

would only return an error if the parameter was larger than one. Can you confirm?

[2022-02-10 13:03] Kuanhao-Chao commented on #80
Oh yes! I interpreted it wrong yesterday! The current released version allows `0` and `1` cases for `signalRatioCutoff `. Sorry to cause the confusion. 👍

[2022-03-06 02:55] chagas98 commented on #19
Hello,

Anyway, I suppose you can still read "important" data from your file. I was diving into the source code from the read.abif function (https://github.com/jonathonthill/sangerseqR/blob/master/R/ReadFileFunctions.R) and this warning comprehend just two data types not supported by the package (see element type 12 and 13 in  https://projects.nfstc.org/workshops/resources/articles/ABIF_File_Forma

[2022-03-26 07:39] marthaluka opened #81 "generateReport exits with error 99"
Hi, I encounter a problem when generating the report using generateReport

`library(sangeranalyseR)

my_aligned_contigs <- SangerAlignment(ABIF_Directory      = "./SangerData/",
                                      REGEX_SuffixForward = "_F.ab1$",
                                      REGEX_SuffixReverse = "_R.ab1$")

launchApp(my_aligned_contigs)

writeFasta(my_aligned_contigs,
           output

[2022-05-31 18:42] anugos opened #82 "Error in TreeLine"
Hi Can you plase help me identify the error given below:
Error in TreeLine(myDistMatrix = dist, method = "UPGMA", type = "both",  :
  could not find function "TreeLine"

I only have forward reads and have used following command

my_aligned_contigs <- SangerAlignment(ABIF_Directory      = "C:/Users/path**1",
                                      processMethod       = "REGEX",

[2022-06-10 18:03] Kuanhao-Chao commented on #82
Hi @anugos,

In the latest DECIPHER package, the `IdCluster()` is replaced by `TreeLine()` function, and the `TreeLine()` is called inside the `SangerAlignment()` function that you are running. Since your error message shows that `TreeLine()` function cannot be found, I would suggest you to update the DECIPHER package to the newest version and try it again. Thanks!

[code]

Has been replaced by:

[2022-06-10 18:27] Kuanhao-Chao commented on #81
Hi @marthaluka,

The version of the sangeranalyseR in your sessionInfo is 1.1.2. I would suggest you to update sangeranalyseR to the newest version, and it should work correctly. We've resolved this issue in the latest update. Thanks!

Best wishes,
Kuan-Hao

[2022-06-10 18:27] #81 closed

[2022-06-29 17:09] Andreas-Bio commented on #60
[code]
I have a similar issue.
I don't even know what F is. That letter is not assigned to any harddrive or network resource on my machine.
So I can't even create an empty folder because I have no "F" drive.

[2022-06-29 23:04] andzandz11 opened #83 "color in chromatogram"
![image](https://user-images.githubusercontent.com/19622117/176560016-55639465-146d-412f-9cb0-f1ca721ed88d.png)

Not the same as trace?

[2022-08-06 12:26] Kuanhao-Chao commented on #83
Hi @andzandz11 ,

Sorry to get back to you late. Since the package that sangeranalyseR depends on, sangereqR, changed its color coding for the previous release, so that's why the colors of the sequences do not match with the chromatogram. Thank you for pointing out this bug : )

I've fixed it in the latest version of sangeranalyseR. Please try the newest version and see if it works for you

[code]

[2022-08-06 12:27] #83 closed

[2022-08-11 09:06] wimmulders-ITM opened #84 "variant calling from reference gene"
Hi,
We like to automate our variant calling proces from targeted sanger sequences of genes that our associated to resistance by mapping to a WT (susceptible) reference. Ideally we would like to have a codon based annotation of the variant in case of synonymous or nonsynonymous mutations and nucleotide position in case of indels. (E.g. nonsynonymous Arg60Lys(aac>aag) or other format). Based on the

[2022-08-17 13:59] babinecha commented on #82
I'm having the same issue. How can I update the DECIPHER package? Can you explain?

[2022-11-02 14:23] jspychalla opened #85 "Issues with Reproducible tutorial"
Hello,

I am trying to run the reproducible example from :

When I run the SangerAlignment function below

my_sangerAlignment <- new("SangerAlignment",
                          inputSource          = "ABIF",
                          processMethod        = "REGEX",
                          ABIF_Directory       = parentDir,
                          REGEX_SuffixForward  = "_[0-9]*_F.ab1$",

[2022-11-02 23:33] jspychalla commented on #85
I realize that the SangerAlignment function is not present even though I have the package loaded. Is there a way to fix this?
Thank you :)